.search {
  & {
    @include query($media-md) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }    
  }
}

.search__input {
  position: relative;

  input {
    background: #fff;
    border: none;
    box-shadow: inset 0 -1px 4px 0 rgba(0,0,0,0.20);
    border-radius: 3px;
    padding-left: 10px;
    height: 50px;
    width: 100%;

    & {
      @include query($media-md) {
        height: 70px;
        width: 518px;
      }    
    }

    & {
      @include query($media-lg) {
        width: 780px;
      }    
    }
  
    &::placeholder {
      font-family: HelveticaNeue-Bold;
      font-size: 16px;
      color: #9B9B9B;
      letter-spacing: 2px;
      line-height: 18px;
    }
  }
}

.search__input--error {
  height: 96px;

  input {
    border: 3px solid #DC0015;
    border-radius:3px 3px  0 0;
  }

  span {
    background-color: #DC0015;
    border-radius: 0 0 3px 3px;
    color: #fff;
    display: block;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 18px;
    padding: 3px 14px 3px 14px;
    position: absolute;
  }

  & {
    @include query($media-lg) {
      width: 780px;
    }    
  }
}

.search__lock  {
  width: 100%;
  img {
    padding-right: 10px;
  }
  
  width: 256px;

  & {
    @include query($media-md) {
      width: 100%;
    }    
  }
}