.main-wrapper {
  margin: 0 auto;
  max-width: 290px;

  & {
    @include query($media-md) {
      max-width: 718px;
    }    
  }

  & {
    @include query($media-lg) {
      max-width: 980px;
    }    
  }
}

.sub-wrapper {
  max-width: 280px;
  margin: 0 auto;
  
  & {
    @include query($media-md) {
      max-width: 718px;
    }    
  }

  & {
    @include query($media-lg) {
      max-width: 980px;
    }    
  }
}

.d-flex {
  display: flex;
  flex-wrap: wrap;
}

.justify-between {
  justify-content: space-between;
}

.align-items-star {
  align-items: flex-start;
}

.d-block {
  display: block;
}

.d-inline {
  display: inline;
}