.link {
  font: bold normal 14px/16px $font-base;
  text-transform: none;
  text-decoration: none;
  
  &:hover {
    text-decoration: none;
  }
}

.link--primary {
  color: $color-primary;

  &:hover {
    text-decoration: underline;
  }
}