// Inside components
.spacer-small {
  padding-bottom: 10px;
}

.spacer-medium {
  padding-bottom: 15px;
}

.spacer-large {
  padding-bottom: 18px;
}

.spacer-x-large {
  padding-bottom: 20px;
}

.spacer-xx-large {
  paddingg-bottom: 30px;
}

.spacer-xxx-large {
  paddingg-bottom: 40px;
}

// Outside components
.spacer-out-small {
  margin-bottom: 14px;
}

.spacer-out-medium {
  margin-bottom: 15px;
}