footer {
  align-items: center;
}

.footer__text {
  font-size: 15px;
  letter-spacing: 0;
  line-height: 20px;

  & {
    @include query($media-md) {
      width: 575px;
    }    
  }
}

.footer__links {
  color: $color-primary;
  margin: 0 auto 25px auto;

  span {
    font-size: 14px;
    font-weight: bold;
  }
}